<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <div formGroupName="step">
      <div formGroupName="alias">
        <app-aifmc-header></app-aifmc-header>
      </div>
      <ng-template [ngIf]="showForm">

        <div formGroupName="user">
          <div class="form-group">
            <div class="form-row">
              <label class="control-label" for="username">Username</label>
              <select class="form-control" id="username" formControlName="username"
                      (change)="showPleaseSelectOption = true">
                <option *ngIf="!showPleaseSelectOption" value="">Please select Site</option>
                <option *ngFor="let user of users" (value)="user.name">{{user.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <label class="form-label" for="password">Password</label>
              <div class="input-group">
                <input type="password" formControlName="password" #pass
                       id="password"
                       class="form-control"

                >
                <div class="input-group-addon">
                  <a (click)="toggleShowPassword(pass)"><i [ngClass]="eyeClass()" aria-hidden="true"></i></a>
                </div>
              </div>
              <span class="help-block" *ngIf="showErrorHelpBlock('step.user.password', 'required')">Field required</span>
              <span class="help-block"
                    *ngIf="showErrorHelpBlock('step.user.password','whitespace')">White space not allowed</span>
            </div>
          </div>
          <div class="form-row-align-center">
            <button [disabled]="!userForm.valid" type="button" (click)="openModal(template)" class="btn btn-primary">Update password</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</form>
<app-message></app-message>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Please confirm <span style="color:red"><b>update password</b></span> on repo:'<b>{{repo}}</b>' site:'<b>{{site}}'</b> ?</p>
    <button type="button" class="btn btn-default" (click)="onSubmit()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
