<div class="form-row">
  <div class="form-group col-md-4">
    <label class="form-label" for="owner">Owners</label>
    <select class="form-control" id="owner" (change)="ownerSelected($event.target.value)">
      <option *ngIf="!disableOwnerOption" selected value="">Please select</option>
      <option *ngFor="let owner of owners" (value)="owner">{{owner}}</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="repo">Repo</label>
    <select class="form-control" id="repo"
            (change)="repoSelected($event.target.value)">
      <option *ngIf="!disableRepoOption" selected value="">Please select owner</option>
      <option *ngFor="let repo of repos" (value)="repo">{{repo}}</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label class="control-label" for="site">site</label>
    <select (change)="siteSelected($event.target.value)"
            id="site" class="form-control"
    >
      <option *ngIf="!disableSiteOption" selected value="">Please select repo</option>
      <option *ngFor="let site of sites" (value)="site"> {{site}}</option>
    </select>
  </div>
</div>
