
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <div>
    <div formGroupName="step">
      <div formGroupName="alias">
        <app-aifmc-header></app-aifmc-header>
      </div>
      <div formGroupName="user">
        <div class="form-group">
          <div class="form-row">
            <label class="control-label" for="username">Username</label>
            <input type="text" formControlName="username"
                   id="username"
                   class="form-control"
            >
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <label class="form-label" for="password">Password</label>
            <div class="input-group">
              <input type="password" formControlName="password" #pass
                     id="password"
                     class="form-control"
              >
              <div class="input-group-addon">
                <a (click)="toggleShow(pass)" ><i [ngClass]="eyeClass()" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row-align-center">
          <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary">Create User</button>
        </div>

      </div>
    </div>
  </div>
</form>

