<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <div formGroupName="step">
      <div formGroupName="alias">
        <app-aifmc-header></app-aifmc-header>
      </div>
      <ng-template [ngIf]="showForm">

      <div formGroupName="user">
        <div class="form-group">
          <div class="form-row">
            <label class="control-label" for="username">Username</label>
            <select class="form-control" id="username" formControlName="username"
                    (change)="userSelected($event.target.value)">
              <option *ngIf="!disableUserOption" selected value="">Please select</option>
              <option *ngFor="let user of users" (value)="user.name">{{user.name}}</option>
            </select>
          </div>
        </div>
        <ng-template [ngIf]="showGroupHeader">

        <div class="form-row">
          <div class="form-group col-md-10">
            <label class="control-label">Groups</label>
          </div>
          <div class="form-group col-md-2">
            <label class="control-label">Action</label>
          </div>
        </div>
        <div class="form-row" formArrayName="groups" formArrayName="groups"
             *ngFor="let item of getGroups(); let i = index">
          <div class="form-group col-md-10" id="groups">
            <input type="text"
                   class="form-control"
                   [formControlName]="i"
                   disabled
            ></div>
          <div class="form-group col-md-2">
            <button class="btn btn-danger" type="button" (click)="addOneDeletedGroup(i)">X</button>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-10">
            <select class="form-control" id="selectGroup" (change)="groupSelected($event.target.value)">
              <option selected name="select" value="_DONT_ADD_" class="form-control">
              </option>
              <option *ngFor="let group of getFilteredGroup()" (value)="group">{{group}} </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <button class="btn btn-success" type="button" (click)="addOneGroup()">+</button>
          </div>
        </div>
        </ng-template>
        <div class="form-row-align-center">
          <button [disabled]="disableButton" type="submit" class="btn btn-primary">Update User group</button>
        </div>
      </div>
      </ng-template>
    </div>
  </div>
</form>
<app-message></app-message>


