<div class="form-row">
  <div class="form-group col-md-4">
    <label class="form-label" for="owner">Owners</label>
    <select class="form-control" id="owner" (change)="ownerSelected($event.target.value)">
      <option *ngIf="!(headerState | async).setOwner" selected value="">Please select</option>
      <option *ngFor="let owner of (headerState | async).owners" (value)="owner">{{owner}}</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="repo">Repo</label>
    <select class="form-control" id="repo"
            (change)="repoSelected($event.target.value)">
      <option *ngIf="!(headerState | async).setRepo" selected value="">Please select</option>
      <option *ngFor="let repo of (headerState | async).repos" value="repo">{{repo}}</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label class="control-label" for="site">Site</label>
    <select (change)="siteSelected($event.target.value)"
            id="site" class="form-control"
    >
      <option *ngIf="!(headerState | async).setSite" selected value="">Please select</option>
      <option *ngFor="let site of (headerState | async).sites" (value)="site"> {{site}}</option>
    </select>
  </div>
</div>
